* {
/*  background-color: red;*/
}

#logo {
  /*border: 2px dashed red;
  background-color: green;*/

  margin-left: 27%;
  margin-right:40%;
  margin-top: 10em;
  width:40em;


  /*margin-top:
  min-height:10em;*/
}

#input_box {

  /*background-color: red;*/
  margin-left: 30%;
  margin-right: 40%;
  width: 25em;
  margin-top: 2em;

}

#search_buttons {
  margin-left: 40%;
  margin-right:40%;
  margin-top: 1em;
  width: 50%;
  /*background-color: green;*/

}

/*
so now i need to center the image element, once that is done, i will add the text box right below it with some spacing between the two

also, the code and coffee is going to be a pain to show up to and there won't be a direct investment into why I show up, but it will be good social en
*/